{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "rules": {
    "template-curly-spacing" : "off",
    "indent": ["error", 2,{
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "linebreak-style": ["error", "unix"],
    "prefer-spread": "warn",
    "semi": "error",
    "prefer-arrow-callback": "warn",
    "space-before-function-paren": "off",
    "no-debugger": "off"
  },
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  }
}
