{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "prefer-spread": "warn",
    "semi": "error",
    "prefer-arrow-callback": "warn",
    "space-before-function-paren": "off",
    "no-debugger": "off"
  },
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  }
}
